.logo {
  margin: 16px 16px 0 16px;
  a {
    display: block;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
}
li {
  display: inline-block;
}
.menuMain {
  text-align: center;
  margin-top: 16px;
  line-height: 2.0;
  li {
    padding: 0 8px;
    a {
    }
  }
}
.menuSocial {
  margin-top: 16px;
  li {
    padding: 0 4px;
  }
}
nav li a.current {
  text-decoration: underline;
}


